
*.ide-shm
*.ide-wal
Libraries/EmreCrm.Core/obj/Debug/netcoreapp3.1/EmreCrm.Core.assets.cache
Libraries/EmreCrm.Core/obj/Debug/netcoreapp3.1/EmreCrm.Core.csprojAssemblyReference.cache
Libraries/EmreCrm.Core/obj/EmreCrm.Core.csproj.nuget.cache
Libraries/EmreCrm.Core/obj/EmreCrm.Core.csproj.nuget.dgspec.json
Libraries/EmreCrm.Core/obj/project.assets.json
Libraries/EmreCrm.Data/obj/Debug/netcoreapp3.1/EmreCrm.Data.assets.cache
Libraries/EmreCrm.Data/obj/Debug/netcoreapp3.1/EmreCrm.Data.csprojAssemblyReference.cache
Libraries/EmreCrm.Data/obj/EmreCrm.Data.csproj.nuget.cache
Libraries/EmreCrm.Data/obj/EmreCrm.Data.csproj.nuget.dgspec.json
Libraries/EmreCrm.Data/obj/project.assets.json
Libraries/EmreCrm.Model/obj/Debug/netcoreapp3.1/EmreCrm.Model.assets.cache
Libraries/EmreCrm.Model/obj/Debug/netcoreapp3.1/EmreCrm.Model.csprojAssemblyReference.cache
Libraries/EmreCrm.Model/obj/EmreCrm.Model.csproj.nuget.cache
Libraries/EmreCrm.Model/obj/EmreCrm.Model.csproj.nuget.dgspec.json
Libraries/EmreCrm.Model/obj/project.assets.json
Libraries/EmreCrm.Service/obj/Debug/netcoreapp3.1/EmreCrm.Service.assets.cache
Libraries/EmreCrm.Service/obj/Debug/netcoreapp3.1/EmreCrm.Service.csprojAssemblyReference.cache
Libraries/EmreCrm.Service/obj/EmreCrm.Service.csproj.nuget.cache
Libraries/EmreCrm.Service/obj/EmreCrm.Service.csproj.nuget.dgspec.json
Libraries/EmreCrm.Service/obj/project.assets.json
Presentation/EmreCrm.AdminUI/obj/Debug/netcoreapp3.1/EmreCrm.AdminUI.assets.cache
Presentation/EmreCrm.AdminUI/obj/Debug/netcoreapp3.1/EmreCrm.AdminUI.csprojAssemblyReference.cache
Presentation/EmreCrm.AdminUI/obj/EmreCrm.AdminUI.csproj.nuget.cache
Presentation/EmreCrm.AdminUI/obj/EmreCrm.AdminUI.csproj.nuget.dgspec.json
Presentation/EmreCrm.AdminUI/obj/project.assets.json
Presentation/EmreCrm.WebApi/obj/Debug/netcoreapp3.1/EmreCrm.WebApi.assets.cache
Presentation/EmreCrm.WebApi/obj/Debug/netcoreapp3.1/EmreCrm.WebApi.csprojAssemblyReference.cache
Presentation/EmreCrm.WebApi/obj/EmreCrm.WebApi.csproj.nuget.cache
Presentation/EmreCrm.WebApi/obj/EmreCrm.WebApi.csproj.nuget.dgspec.json
Presentation/EmreCrm.WebApi/obj/project.assets.json
Libraries/EmreCrm.Core/obj/Debug/netcoreapp3.1/EmreCrm.Core.assets.cache
Libraries/EmreCrm.Core/obj/Debug/netcoreapp3.1/EmreCrm.Core.csprojAssemblyReference.cache
Libraries/EmreCrm.Core/obj/EmreCrm.Core.csproj.nuget.cache
Libraries/EmreCrm.Core/obj/EmreCrm.Core.csproj.nuget.dgspec.json
Libraries/EmreCrm.Core/obj/project.assets.json
Libraries/EmreCrm.Data/obj/Debug/netcoreapp3.1/EmreCrm.Data.assets.cache
Libraries/EmreCrm.Data/obj/Debug/netcoreapp3.1/EmreCrm.Data.csprojAssemblyReference.cache
Libraries/EmreCrm.Data/obj/EmreCrm.Data.csproj.nuget.cache
Libraries/EmreCrm.Data/obj/EmreCrm.Data.csproj.nuget.dgspec.json
Libraries/EmreCrm.Data/obj/project.assets.json
Libraries/EmreCrm.Model/obj/Debug/netcoreapp3.1/EmreCrm.Model.assets.cache
Libraries/EmreCrm.Model/obj/Debug/netcoreapp3.1/EmreCrm.Model.csprojAssemblyReference.cache
Libraries/EmreCrm.Model/obj/EmreCrm.Model.csproj.nuget.cache
Libraries/EmreCrm.Model/obj/EmreCrm.Model.csproj.nuget.dgspec.json
Libraries/EmreCrm.Model/obj/project.assets.json
Libraries/EmreCrm.Service/obj/Debug/netcoreapp3.1/EmreCrm.Service.assets.cache
Libraries/EmreCrm.Service/obj/Debug/netcoreapp3.1/EmreCrm.Service.csprojAssemblyReference.cache
Libraries/EmreCrm.Service/obj/EmreCrm.Service.csproj.nuget.cache
Libraries/EmreCrm.Service/obj/EmreCrm.Service.csproj.nuget.dgspec.json
Libraries/EmreCrm.Service/obj/project.assets.json
Presentation/EmreCrm.AdminUI/obj/Debug/netcoreapp3.1/EmreCrm.AdminUI.assets.cache
Presentation/EmreCrm.AdminUI/obj/Debug/netcoreapp3.1/EmreCrm.AdminUI.csprojAssemblyReference.cache
Presentation/EmreCrm.AdminUI/obj/EmreCrm.AdminUI.csproj.nuget.cache
Presentation/EmreCrm.AdminUI/obj/EmreCrm.AdminUI.csproj.nuget.dgspec.json
Presentation/EmreCrm.AdminUI/obj/project.assets.json
Presentation/EmreCrm.WebApi/obj/Debug/netcoreapp3.1/EmreCrm.WebApi.assets.cache
Presentation/EmreCrm.WebApi/obj/Debug/netcoreapp3.1/EmreCrm.WebApi.csprojAssemblyReference.cache
Presentation/EmreCrm.WebApi/obj/EmreCrm.WebApi.csproj.nuget.cache
Presentation/EmreCrm.WebApi/obj/EmreCrm.WebApi.csproj.nuget.dgspec.json
Presentation/EmreCrm.WebApi/obj/project.assets.json
.vs/Emre Crm/v16/.suo
Libraries/EmreCrm.Core/obj/Debug/netcoreapp3.1/EmreCrm.Core.csproj.FileListAbsolute.txt
Libraries/EmreCrm.Core/obj/Debug/netcoreapp3.1/EmreCrm.Core.csproj.FileListAbsolute.txt
.vs/Emre Crm/v16/.suo
Libraries/EmreCrm.Core/obj/Debug/netcoreapp3.1/EmreCrm.Core.csproj.FileListAbsolute.txt
Libraries/EmreCrm.Core/obj/Debug/netcoreapp3.1/EmreCrm.Core.csprojAssemblyReference.cache
Libraries/EmreCrm.Data/obj/Debug/netcoreapp3.1/EmreCrm.Data.csproj.FileListAbsolute.txt
Libraries/EmreCrm.Data/obj/Debug/netcoreapp3.1/EmreCrm.Data.csprojAssemblyReference.cache
Libraries/EmreCrm.Model/obj/Debug/netcoreapp3.1/EmreCrm.Model.csproj.FileListAbsolute.txt
Libraries/EmreCrm.Model/obj/Debug/netcoreapp3.1/EmreCrm.Model.csprojAssemblyReference.cache
Libraries/EmreCrm.Service/obj/Debug/netcoreapp3.1/EmreCrm.Service.csproj.FileListAbsolute.txt
Presentation/EmreCrm.AdminUI/bin/Debug/netcoreapp3.1/EmreCrm.AdminUI.dll
Presentation/EmreCrm.AdminUI/bin/Debug/netcoreapp3.1/EmreCrm.AdminUI.pdb
Presentation/EmreCrm.AdminUI/bin/Debug/netcoreapp3.1/EmreCrm.AdminUI.Views.dll
Presentation/EmreCrm.AdminUI/bin/Debug/netcoreapp3.1/EmreCrm.AdminUI.Views.pdb
Presentation/EmreCrm.AdminUI/obj/Debug/netcoreapp3.1/EmreCrm.AdminUI.csproj.FileListAbsolute.txt
Presentation/EmreCrm.AdminUI/obj/Debug/netcoreapp3.1/EmreCrm.AdminUI.csprojAssemblyReference.cache
Presentation/EmreCrm.AdminUI/obj/Debug/netcoreapp3.1/EmreCrm.AdminUI.dll
Presentation/EmreCrm.AdminUI/obj/Debug/netcoreapp3.1/EmreCrm.AdminUI.pdb
Presentation/EmreCrm.AdminUI/obj/Debug/netcoreapp3.1/EmreCrm.AdminUI.Views.dll
Presentation/EmreCrm.AdminUI/obj/Debug/netcoreapp3.1/EmreCrm.AdminUI.Views.pdb
Presentation/EmreCrm.WebApi/bin/Debug/netcoreapp3.1/EmreCrm.WebApi.dll
Presentation/EmreCrm.WebApi/bin/Debug/netcoreapp3.1/EmreCrm.WebApi.pdb
Presentation/EmreCrm.WebApi/obj/Debug/netcoreapp3.1/EmreCrm.WebApi.csproj.FileListAbsolute.txt
Presentation/EmreCrm.WebApi/obj/Debug/netcoreapp3.1/EmreCrm.WebApi.csprojAssemblyReference.cache
Presentation/EmreCrm.WebApi/obj/Debug/netcoreapp3.1/EmreCrm.WebApi.dll
Presentation/EmreCrm.WebApi/obj/Debug/netcoreapp3.1/EmreCrm.WebApi.pdb
