@model AdvertisementModel
@{
    ViewData["Title"] = "İlan Ekle";
}
<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <div class="m-content">
            <div class="row">
                <div class="col-xl-12">
                    <div class="m-portlet m-portlet--mobile  m-portlet--rounded">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        @ViewData["Title"]
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <form id="add-advertisement-form" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                            @Html.AntiForgeryToken()
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <tHelper:label class="col-lg-2 col-form-label" asp-for="NumberOfRooms"></tHelper:label>
                                    <div class="col-lg-3">
                                        <tHelper:input asp-for="NumberOfRooms" class="form-control m-input" min="0" placeholder="Oda Sayısı"></tHelper:input>
                                        <tHelper:span asp-validation-for="NumberOfRooms" class="form-control-feedback text-danger"></tHelper:span>
                                    </div>
                                    <tHelper:label class="col-lg-2 col-form-label" asp-for="FloorNumber"></tHelper:label>
                                    <div class="col-lg-3">
                                        <tHelper:input asp-for="FloorNumber" class="form-control m-input" min="0" placeholder="Kat Numarası"></tHelper:input>
                                        <tHelper:span asp-validation-for="FloorNumber" class="form-control-feedback text-danger"></tHelper:span>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <tHelper:label class="col-lg-2 col-form-label" asp-for="HouseAge"></tHelper:label>
                                    <div class="col-lg-3">
                                        <tHelper:input asp-for="HouseAge" class="form-control m-input" min="0" placeholder="Konut Yaşı"></tHelper:input>
                                        <tHelper:span asp-validation-for="HouseAge" class="form-control-feedback text-danger"></tHelper:span>
                                    </div>
                                    <tHelper:label class="col-lg-2 col-form-label" asp-for="Type"></tHelper:label>
                                    <div class="col-lg-3">
                                        <tHelper:select asp-for="Type" asp-items="Model.UsableTypes" class="form-control m-input"></tHelper:select>
                                        <tHelper:span asp-validation-for="Type" class="form-control-feedback text-danger"></tHelper:span>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <tHelper:label class="col-lg-2 col-form-label" asp-for="SquareMeters"></tHelper:label>
                                    <div class="col-lg-3">
                                        <tHelper:input asp-for="SquareMeters" class="form-control m-input" placeholder="Metre Karesi"></tHelper:input>
                                        <tHelper:span asp-validation-for="SquareMeters" class="form-control-feedback text-danger"></tHelper:span>
                                    </div>
                                    <tHelper:label class="col-lg-2 col-form-label" asp-for="Adress"></tHelper:label>
                                    <div class="col-lg-3">
                                        <tHelper:input asp-for="Adress" class="form-control m-input" placeholder="Adres"></tHelper:input>
                                        <tHelper:span asp-validation-for="Adress" class="form-control-feedback text-danger"></tHelper:span>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <div class="col">
                                        <input id="advertisement-photos" name="photos" type="file" multiple />
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                                <div class="m-form__actions m-form__actions--solid">
                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-10">
                                            <button type="button" onclick="$.Advertisement.add()" class="btn btn-success">Ekle</button>
                                            <button type="reset" class="btn btn-secondary">Temizle</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section FooterScripts {
    <script src="/app/js/advertisement.js" type="text/javascript"></script>
}