@model AdvertisementFilterModel
@{
    ViewData["Title"] = "İlanlarım";
}
<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <div class="m-content">
            <div class="row">
                <div class="col-xl-12">
                    <div class="m-portlet m-portlet--mobile  m-portlet--rounded">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        @ViewData["Title"]
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <form id="search-form" class="m-form m-form--fit m--margin-bottom-20">
                                <div class="row m--margin-bottom-20">
                                    <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                        <tHelper:label asp-for="NumberOfRooms"></tHelper:label>
                                        <tHelper:input asp-for="NumberOfRooms" min="0" class="form-control m-input" />
                                    </div>
                                    <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                        <tHelper:label asp-for="FloorNumber"></tHelper:label>
                                        <tHelper:input asp-for="FloorNumber" min="0" class="form-control m-input" />
                                    </div>
                                    <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                        <tHelper:label asp-for="HouseAge"></tHelper:label>
                                        <tHelper:input asp-for="HouseAge" min="0" class="form-control m-input" />
                                    </div>
                                    <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                        <tHelper:label asp-for="SquareMeters"></tHelper:label>
                                        <tHelper:input asp-for="SquareMeters" min="0" class="form-control m-input" />
                                    </div>
                                </div>
                                <div class="row m--margin-bottom-20">
                                    <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                        <tHelper:label asp-for="Type"></tHelper:label>
                                        <tHelper:select class="form-control m-input" asp-for="Type" asp-items="Model.UsableTypes"></tHelper:select>
                                    </div>
                                </div>
                                <div class="m-separator m-separator--md m-separator--dashed"></div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="button" onclick="$.Advertisement.search()" class="btn btn-brand m-btn m-btn--icon" id="m_search">
                                            <span>
                                                <i class="la la-search"></i>
                                                <span>Ara</span>
                                            </span>
                                        </button>
                                        &nbsp;&nbsp;
                                        <button type="button" onclick="$.Advertisement.resetFilter()    " class="btn btn-secondary m-btn m-btn--icon" id="m_reset">
                                            <span>
                                                <i class="la la-close"></i>
                                                <span>Temizle</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>

                            @Html.AjaxGrid(Url.Action("Advertisement_Read"))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section FooterScripts{

    <script src="/app/js/advertisement.js" type="text/javascript"></script>

    <script type="text/javascript">

        $.App.initGrid('.mvc-grid');

    </script>

}